#burger-menu {
  position: fixed;
  z-index: 99;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.451);
  padding: 100px 20px 0 100px;
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
  gap: 50px;
  .basket-fav-profile {
    display: none;
    ul {
      @include flexbox;
      gap: 25px;
      li {
        a {
          color: white;
        }
      }
    }
  }
  nav {
    .nav-ul {
      @include flexbox(center, flex-start);
      flex-direction: column;
      gap: 30px;
      & > li > a {
        padding: 2px 10px;
        color: #fff;
        position: relative;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
        @extend %hover;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    width: 50%;
    padding-left: 50px;
    .basket-fav-profile {
      display: flex;
    }
  }
  display: none;
}
