#capabilities {
  padding: 100px 0;
  .capabilities {
    .row {
      &>*{
        padding: 0;
      }
      @include flexbox(center,normal);
      .text-col {
        @include flexbox(center,center);
        flex-direction: column;
        gap: 50px;
        #row {
          display: flex;
          flex-wrap: nowrap;
          img {
            width: fit-content;
            height: fit-content;
          }
          .text {
            max-width: 250px;
            h1 {
              font-weight: bold;
              letter-spacing: 2px;
            }
            p {
              padding: 10px 0;
              line-height: 20px;
            }
          }
        }
        &.text-col-left {
          #row {
            display: flex;
            .text {
              h1 {
                text-align: right;
              }
              p {
                text-align: right;
              }
            }
          }
        }
        &.text-col-right {
          #row {
            @include flexbox(flex-end,normal);

            .text {
              h1 {
                text-align: left;
              }
              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    padding: 0;
    .capabilities {
      .row {
        .text {
          h1 {
           font-size: 18px;
          }
          p {
            font-size: 14px;
            padding: 10px 0;
            line-height: 16px;
          }
        }
        .text-col {
          gap: 100px;
          &.text-col-right {
            margin-top: 200px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 50px 0;
    .capabilities {
      .row {
        #row {
          .text {
            h1 {
             font-size: 16px;
            }
            p {
              font-size: 12px;
              padding: 7px 0;
              line-height: 14px;
            }
          }
        }
        .text-col {
          gap: 25px;
          &.text-col-right {
            margin-top: 50px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 575px) {
    padding: 25px 0;
    .capabilities {
      .row {
        .text-col {
          gap: 15px;
          #row {
            .text {
              h1 {
               font-size: 12px;
               letter-spacing: 1px;
              }
              p {
                font-size: 10px;
                padding: 5px 0;
                line-height: 12px;
              }
            }
          }
          &.text-col-right {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
