footer {
  background-color: #5d4335;
  .footer {
    .up-footer {
      padding: 100px 0;
      border-bottom: 1px solid #c29e7b;
      ul {
        color: #c29e7b;
        font-size: 24px;
        padding: 20px 0;
        li {
          padding: 0 0 5px 0;
          &:first-child{
            padding-top: 10px;
          }
          a {
            color: white;
            font-size: 16px;
          }
          &.opening {
            a {
              display: flex;
              justify-content: space-between;
              padding-right: 10px;
            }
          }
        }
      }
      @media only screen and (max-width: 991px) {
        flex-direction: column;
      }
    }
    .down-footer {
      padding: 25px;
      color: #c29e7b;
      text-align: center;
    }
  }
}
