footer {
  background-color: #5d4335;
  .footer {
    .up-footer {
      padding: 100px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #c29e7b;
      ul {
        color: #c29e7b;
        font-size: 24px;

        .account {
          display: flex;
          justify-content: space-around;
          li {
            a {
              font-size: 20px;
            }
          }
        }
        li {
          padding: 10px 0;
          a {
            color: white;
            font-size: 16px;
          }
          &.opening {
            a {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .down-footer {
      padding: 25px;
      color: #c29e7b;
      text-align: center;
    }
  }
}
