#happiest {
  background-image: url("../../../photo/background/pariwat-pannium-wKDhYQjZrcY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .happiest {
    padding: 50px 0;
    img {
      width: 100%;
      height: auto;
    }
    p {
      color: $color-light;
      padding: 20px;
    }
    @media only screen and (max-width: 991px) {
      padding: 40px 0;
      p{
        font-size: 14px;
        padding: 15px;
      }
    }
    @media only screen and (max-width: 767px) {
      padding: 20px 0;
      p{
        font-size: 12px;
        padding: 10px;
      }
    }
    @media only screen and (max-width: 575px) {
      padding: 10px 0;
      p{
        font-size: 10px;
        padding:  5px;
      }
    }
  }

}
