header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .header {
    padding: 15px 0;
    @include flexbox;
    .logo {
      max-width: 150px;
    }
    nav {
      .nav-ul {
        @include flexbox;
        gap: 50px;
        & > li > a {
          color: $color-light;
          position: relative;
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-duration: 400ms;
          transition-property: color;
          @extend %hover;
        }
      }
    }
    .basket-fav-profile {
      .icon-ul {
        @include flexbox;
        gap: 25px;
        li {
          .btn {
            color: $color-light;
            border: none;
            transition: all 0.5s ease-in-out;
            @include flexbox(flex-start,center);
            .icon {
              font-size: 18px;
              position: absolute;
              width: 70px;
              @include flexbox(center,center);
              transition: all 0.5s;
            }
            .text {
              transform: translateX(55px);
            }
            &:hover {
              .icon {
                width: 175px;
              }
              .text {
                transition: all 0.5s;
                opacity: 0;
              }
            }
            &:focus {
              outline: none;
            }
            &:active {
              .icon {
                transform: scale(0.85);
              }
            }
          }
          &.menu {
            margin-left: 50px;
            display: none;
            a {
              i {
                color: $color-light;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 991px) {
      .logo {
        max-width: 100px;
      }
      nav {
        display: none;
      }
      .basket-fav-profile {
        margin-right: 50px;
        .icon-ul {
          li {
            .btn {
              .text {
                display: none;
              }
              &:hover {
                .icon {
                  width: 100px;
                }
               
              }
            }
            &.menu {
              display: block;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .logo {
        max-width: 80px;
      }
      .basket-fav-profile {
        .icon-ul {
          li {
            display: none;
            &.menu {
              display: block;
            }
          }
        }
      }
    }
  }
}
