#hero {
  .hero {
    .swiper {
      .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 150px 0;
        @include flexbox(center,center);
        flex-direction: column;
        gap: 30px;
        .emblem {
          max-width: 200px;
          max-height: 200px;
        }
        h1 {
          font-size: 68px;
          color: white;
          letter-spacing: 5px;
        }
        p {
          font-size: 20px;
          color: white;
          text-align: center;
          line-height: 24px;
        }

        &.slide-1 {
          background-image: url("../../../photo/background/home-1-slider-image-1.jpg");
        }
        &.slide-2 {
          background-image: url("../../../photo/background/home-1-slider-image-2.jpg");
        }
        &.slide-3 {
          background-image: url("../../../photo/background/home-1-slider-image-3.jpg");
        }
        @media only screen and (max-width: 991px) {
          height: 100%;
          gap: 25px;
          padding: 100px 0;
          .emblem {
            max-width: 150px;
            max-height: 150px;
          }
          h1 {
            font-size: 48px;
          }
          p {
            font-size: 16px;
          }
        }
        @media only screen and (max-width: 767px) {
          gap: 15px;
          padding: 50px 0;
          .emblem {
            max-width: 100px;
            max-height: 100px;
          }
          h1 {
            font-size: 32px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .swiper-button-next {
        color: white;
        @media only screen and (max-width: 575px) {
          display: none;
        }
      }
      .swiper-button-prev {
        color: white;
        @media only screen and (max-width: 575px) {
          display: none;
        }
      }
    }
  }
}
