#page-heading {
  background-image: url("../../../../photo/background/nathan-dumlao-KixfBEdyp64-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -300px;
  background-attachment: fixed;
  padding: 200px 0;
  .page-heading {
    h1 {
      font-size: 48px;
      color: white;
      text-align: center;
    }
  }
}
