#social-subscribe {
  background: $color-dark;
  .social-subscribe {
    padding: 50px 0;
    .text {
      h1 {
        font-size: 48px;
        color: $color-light;
        text-align: center;
      }
      p {
        font-size: 24px;
        color: $color-bisque;
        text-align: center;
      }
      @media only screen and (max-width: 991px) {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 20px;
        }
      }
      @media only screen and (max-width: 767px) {
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 16px;
          padding: 10px;
        }
      }
      @media only screen and (max-width: 575px) {
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
          padding: 5px;
        }
      }
    }
    .icons-input {
      padding: 25px 0;
      @include flexbox;
      .social {
        ul {
          display: flex;
          li {
            a {
              width: 60px;
              height: 60px;
              background-color: $color-light;
              text-align: center;
              line-height: 60px;
              font-size: 35px;
              margin: 0 10px;
              display: block;
              border-radius: 50%;
              position: relative;
              overflow: hidden;
              border: 3px solid $color-light;
              z-index: 1;
              .icon {
                position: relative;
                color: #262626;
                transition: 0.5s;
                z-index: 3;
              }
              &:hover {
                .icon {
                  color: $color-light;
                  transform: rotateY(360deg);
                }
                &::before {
                  top: 0;
                }
              }
              &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: #f00;
                transition: 0.5s;
                z-index: 2;
              }
            }
            &:nth-child(1) a:before {
              background: #3b5999;
            }
            &:nth-child(2) a:before {
              background: #55acee;
            }
            &:nth-child(3) a:before {
              background: linear-gradient(
                #feda75,
                #fa7e1e,
                #d62976,
                #962fbf,
                #4f5bd5
              );
            }
          }
        }
      }
      .subscribe {
        .input-group {
          @include flexbox(flex-start,center);
          .input {
            min-height: 50px;
            max-width: 500px;
            padding: 0 1rem;
            color: $color-light;
            font-size: 15px;
            border: 1px solid $color-brown;
            border-radius: 6px 0 0 6px;
            background-color: transparent;
            &::placeholder {
              color: $color-light;
            }
            &:focus {
              border-color: $color-brown;
              outline: none;
            }
            &:focus-visible {
              border-color: $color-bisque;
              outline: none;
            }
          }
          .button--submit {
            min-height: 50px;
            padding: 0.5em 1em;
            border: none;
            border-radius: 0 6px 6px 0;
            background-color: $color-brown;
            color: $color-light;
            font-size: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            &:hover {
              background-color: $color-bisque;
            }
          }
        }
      }
      @media only screen and (max-width: 991px) {
        flex-direction: column;
        gap: 30px;
        .social {
          ul {
            display: flex;
            li {
              a {
                width: 50px;
                height: 50px;
                font-size: 30px;
                line-height: 50px;
              }
            }
          }
        }
        .subscribe {
          .input-group {
            @include flexbox(flex-start,center);
            .input {
              min-height: 40px;
            }
            .button--submit {
              min-height: 40px;
            }
          }
        }
      }
      @media only screen and (max-width: 767px) {
        gap: 25px;
        .social {
          ul {
            display: flex;
            li {
              a {
                width: 40px;
                height: 40px;
                font-size: 25px;
                line-height: 40px;
              }
            }
          }
        }
        .subscribe {
          .input-group {
            @include flexbox(flex-start,center);
            .input {
              min-height: 35px;
            }
            .button--submit {
              min-height: 35px;
            }
          }
        }
      }
      @media only screen and (max-width: 575px) {
        gap: 20px;
        .social {
          ul {
            display: flex;
            li {
              a {
                width: 30px;
                height: 30px;
                font-size: 20px;
                line-height: 30px;
              }
            }
          }
        }
        .subscribe {
          .input-group {
            @include flexbox(flex-start,center);
            .input {
              min-height: 30px;
            }
            .button--submit {
              min-height: 25px;
            }
          }
        }
      }
    }
  }
}
