header {
  border-bottom: 1px solid black;
  padding: 15px 0;
  .header {
    @include flexbox;
    .menu-search {
      @include flexbox;
      gap: 20px;
    }
    .mode-profile {
      @include flexbox;
      gap: 20px;
    }
  }
}
