.col-2{
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    .menu {   
      padding: 10px 0;
      @include flexbox(center,center);
      flex-direction: column;
      img {
        max-width: 250px;
        padding: 0 50px;
        &.logo-light{
          display: none;
        }
      }
      ul {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          border: 1px solid transparent;
          border-radius: 0 15px 15px 0;
          padding: 15px 25px;
          &:hover {
            border-color: #ededed;
            background-color: #ededed;
          }
          a {
            font-family: "Open Sans", sans-serif;
          }
        }
      }
    }
   
  }
  &.dark{
    background-color: black;
    #menu {
 
      .menu {   

        img {
         
          &.logo-light{
            display: block;
          }
          &.logo-dark{
            display: none;
          }
        }
        ul {
          
          li {
            
            &:hover {
              border-color: rgb(57, 57, 57);
              background-color: rgb(57, 57, 57);
            }
            a {
              color: #fff;
            }
          }
        }
      }
     
    }
  }
}
