/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none !important;
  box-sizing: border-box;
}

.dropdown .dropdown-menu {
  background-color: black;
}
.dropdown .dropdown-menu li a {
  padding: 5px;
}

.accordion-div .accordion-item a {
  width: 100%;
  background-color: black;
}
.accordion-div .accordion-item a.accordion-button::after {
  color: white;
}
.accordion-div .accordion-item .accordion-body {
  background-color: black;
}
.accordion-div .accordion-item .accordion-body ul li {
  padding: 20px 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .logo {
  max-width: 150px;
}
header .header nav .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .header nav .nav-ul li a {
  color: white;
  box-shadow: inset 0 0 0 0 white;
  padding: 2px 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
header .header nav .nav-ul li a:hover {
  box-shadow: inset 100px 0 0 0 white;
  color: black;
}
header .header .basket-fav-profile ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
header .header .basket-fav-profile ul li a {
  color: white;
  font-size: 18px;
}
header .header .basket-fav-profile ul li.menu {
  display: none;
}
@media only screen and (max-width: 991px) {
  header .header .logo {
    max-width: 100px;
  }
  header .header nav {
    display: none;
  }
  header .header .basket-fav-profile ul li.menu {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  header .header .logo {
    max-width: 80px;
  }
  header .header .basket-fav-profile ul li {
    display: none;
  }
  header .header .basket-fav-profile ul li.menu {
    display: block;
  }
}

#burger-menu {
  position: fixed;
  z-index: 99;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: black;
  padding: 100px 20px 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  display: none;
}
#burger-menu .basket-fav-profile {
  display: none;
}
#burger-menu .basket-fav-profile ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
#burger-menu .basket-fav-profile ul li a {
  color: white;
}
#burger-menu nav .nav-ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
#burger-menu nav .nav-ul li a {
  color: white;
  box-shadow: inset 0 0 0 0 white;
  padding: 2px 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#burger-menu nav .nav-ul li a:hover {
  box-shadow: inset 100px 0 0 0 white;
  color: black;
}
@media only screen and (max-width: 767px) {
  #burger-menu {
    width: 50%;
    padding-left: 50px;
  }
  #burger-menu .basket-fav-profile {
    display: flex;
  }
}

#hero .hero .swiper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#hero .hero .swiper .swiper-slide .emblem {
  max-width: 200px;
  max-height: 200px;
}
#hero .hero .swiper .swiper-slide h1 {
  font-size: 68px;
  color: white;
  letter-spacing: 5px;
}
#hero .hero .swiper .swiper-slide p {
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 24px;
}
#hero .hero .swiper .swiper-slide.slide-1 {
  background-image: url("../../../../photo/background/home-1-slider-image-1.jpg");
}
#hero .hero .swiper .swiper-slide.slide-2 {
  background-image: url("../../../../photo/background/home-1-slider-image-2.jpg");
}
#hero .hero .swiper .swiper-slide.slide-3 {
  background-image: url("../../../../photo/background/home-1-slider-image-3.jpg");
}
@media only screen and (max-width: 991px) {
  #hero .hero .swiper .swiper-slide {
    height: 100%;
    gap: 25px;
  }
  #hero .hero .swiper .swiper-slide .emblem {
    max-width: 150px;
    max-height: 150px;
  }
  #hero .hero .swiper .swiper-slide h1 {
    font-size: 48px;
  }
  #hero .hero .swiper .swiper-slide p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  #hero .hero .swiper .swiper-slide {
    gap: 15px;
  }
  #hero .hero .swiper .swiper-slide .emblem {
    max-width: 100px;
    max-height: 100px;
  }
  #hero .hero .swiper .swiper-slide h1 {
    font-size: 32px;
  }
  #hero .hero .swiper .swiper-slide p {
    font-size: 14px;
  }
}
#hero .hero .swiper .swiper-button-next {
  color: white;
}
#hero .hero .swiper .swiper-button-prev {
  color: white;
}

#capabilities {
  padding: 100px 0;
}
#capabilities .capabilities .row {
  display: flex;
  justify-content: center;
}
#capabilities .capabilities .row .text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#capabilities .capabilities .row .text-col #row {
  display: flex;
  flex-wrap: nowrap;
}
#capabilities .capabilities .row .text-col #row img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#capabilities .capabilities .row .text-col #row .text {
  max-width: 280px;
}
#capabilities .capabilities .row .text-col #row .text h1 {
  font-weight: bold;
  letter-spacing: 2px;
}
#capabilities .capabilities .row .text-col #row .text p {
  padding: 10px 0;
  line-height: 20px;
}
#capabilities .capabilities .row .text-col.text-col-left #row {
  display: flex;
  justify-content: flex-start;
}
#capabilities .capabilities .row .text-col.text-col-left #row .text h1 {
  text-align: right;
}
#capabilities .capabilities .row .text-col.text-col-left #row .text p {
  text-align: right;
}
#capabilities .capabilities .row .text-col.text-col-right #row {
  display: flex;
  justify-content: flex-end;
}
#capabilities .capabilities .row .text-col.text-col-right #row .text h1 {
  text-align: left;
}
#capabilities .capabilities .row .text-col.text-col-right #row .text p {
  text-align: left;
}
@media only screen and (max-width: 991px) {
  #capabilities .capabilities .row .text-col {
    gap: 200px;
  }
  #capabilities .capabilities .row .text-col.text-col-right {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 767px) {
  #capabilities .capabilities .row .text-col {
    gap: 25px;
  }
  #capabilities .capabilities .row .text-col.text-col-right {
    margin-top: 50px;
  }
}

#happiest {
  background-image: url("../../../../photo/background/pariwat-pannium-wKDhYQjZrcY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#happiest .happiest {
  padding: 50px 0;
}
#happiest .happiest img {
  width: 100%;
  height: auto;
}
#happiest .happiest p {
  color: white;
  padding: 20px;
}
@media only screen and (max-width: 991px) {
  #happiest {
    background-position: left center;
  }
}

#product {
  background-image: url("../../../../photo/background/new-new-h1-bacground-img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#product .product {
  padding: 150px 0;
}
#product .product .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid #888d9c;
}
#product .product .heading h1 {
  font-size: 48px;
  text-align: center;
}
#product .product .heading .links {
  display: flex;
  gap: 30px;
}
#product .product .heading .links a {
  color: #888d9c;
}
#product .product .heading .links a.active {
  border-bottom: 1px solid black;
  padding: 0 0 15px 0;
}
#product .product #product-swiper {
  padding: 50px 0;
}
#product .product #product-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#product .product #product-swiper .swiper-slide img {
  max-width: 350px;
  border-bottom: 1px solid #888d9c;
  padding-bottom: 15px;
}
#product .product #product-swiper .swiper-slide h4 {
  font-size: 20px;
}
#product .product #product-swiper .swiper-button-next {
  color: #888d9c;
  padding: 30px;
  border: 1px solid #888d9c;
  border-radius: 50%;
}
#product .product #product-swiper .swiper-button-next:after {
  font-size: 20px;
}
#product .product #product-swiper .swiper-button-next:hover {
  border-color: #c29e7b;
  background-color: #c29e7b;
  color: white;
}
#product .product #product-swiper .swiper-button-prev {
  color: #888d9c;
  padding: 30px;
  border: 1px solid #888d9c;
  border-radius: 50%;
}
#product .product #product-swiper .swiper-button-prev:after {
  font-size: 20px;
}
#product .product #product-swiper .swiper-button-prev:hover {
  border-color: #c29e7b;
  background-color: #c29e7b;
  color: white;
}/*# sourceMappingURL=main.css.map */