%hover {
  &:after {
    content: "";
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  &:hover {
    color: #fff;
    &:after {
      width: 100%;
      left: 0%;
    }
  }
  &:focus{
    color: #fff;
    &:after{
      width: 100%;
      left: 0%;
    }
  }
}
