@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 1200px;
  padding: 0 1%;
  margin: auto;
}

.admin-row > * {
  padding: 0;
}

header {
  padding: 15px 0;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .menu-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header .mode-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header .mode-profile .dropdown #dropdownInformationButton img {
  max-width: 50px;
  max-height: 50px;
}
header .header .mode-profile .dropdown #dropdownInformationButton:after {
  display: none;
}
header .header .mode-profile .dropdown .dropdown-menu li {
  margin: 5px;
}
header .header .mode-profile .dropdown .dropdown-menu li a {
  padding: 0;
  margin: 0;
}
header.dark {
  background-color: black;
}
header.dark .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.dark .header .menu-search #menu-icon {
  color: white;
}
header.dark .header .mode-profile .dropdown .dropdown-menu {
  background-color: black;
}
header.dark .header .mode-profile .dropdown .dropdown-menu li {
  margin: 5px;
  color: white;
}
header.dark .header .mode-profile .dropdown .dropdown-menu li a {
  color: white;
}
header.dark .header .mode-profile .dropdown .dropdown-menu li a:hover {
  background-color: rgb(38, 38, 38);
}

.col-2 {
  height: 100vh;
}
.col-2 #menu {
  position: fixed;
  top: 0;
  left: 0;
}
.col-2 #menu .menu {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-2 #menu .menu img {
  max-width: 250px;
  padding: 0 50px;
}
.col-2 #menu .menu img.logo-light {
  display: none;
}
.col-2 #menu .menu ul {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col-2 #menu .menu ul li {
  border: 1px solid transparent;
  border-radius: 0 15px 15px 0;
  padding: 15px 25px;
}
.col-2 #menu .menu ul li:hover {
  border-color: #ededed;
  background-color: #ededed;
}
.col-2 #menu .menu ul li a {
  font-family: "Open Sans", sans-serif;
}
.col-2.dark {
  background-color: black;
}
.col-2.dark #menu .menu img.logo-light {
  display: block;
}
.col-2.dark #menu .menu img.logo-dark {
  display: none;
}
.col-2.dark #menu .menu ul li:hover {
  border-color: rgb(57, 57, 57);
  background-color: rgb(57, 57, 57);
}
.col-2.dark #menu .menu ul li a {
  color: #fff;
}

#title {
  padding: 25px;
}
#title .title h1 {
  font-size: 28px;
}
#title .title .cards {
  padding: 50px 0;
}
#title .title .cards .card {
  height: 150px;
  border-radius: 20px;
  background: transparent;
  position: relative;
  padding: 1.5rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}
#title .title .cards .card .card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}
#title .title .cards .card .card-details .text-body {
  color: rgb(134, 134, 134);
  font-size: 1.2rem;
  text-align: center;
}
#title .title .cards .card .card-details .text-title {
  font-size: 2em;
  font-weight: bold;
  color: #008bf8;
}
#title .title .cards .card .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  text-align: center;
}
#title .title .cards .card:hover {
  background-color: #fff;
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
#title .title .cards .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
#title.dark {
  background-color: black;
  height: 100vh;
}
#title.dark .title h1 {
  color: white;
}
#title.dark .title .cards .card .card-details {
  color: white;
}
#title.dark .title .cards .card .card-details .text-body {
  color: white !important;
}
#title.dark .title .cards .card .card-details .text-title {
  color: white;
}
#title.dark .title .cards .card .card-button {
  background-color: #008bf8;
  color: #fff;
}
#title.dark .title .cards .card:hover {
  background-color: black;
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
#title.dark .title .cards .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

#title .title .title-head {
  display: flex;
  justify-content: space-between;
}
#title .title .title-head .add {
  border: 1px solid #008bf8;
  background-color: #008bf8;
  color: #fff;
  padding: 10px 20px;
}
#title .title table {
  margin-top: 50px;
}
#title .title table tr {
  border: 2px solid #008bf8;
}
#title .title table tr th {
  border: 2px solid #008bf8;
}
#title .title table tr td {
  border: 2px solid #008bf8;
}
#title .title table tr td .fa-trash {
  color: red;
}
#title .title table tr td .fa-pen {
  color: green;
}

.form {
  margin-top: 20px;
}
.form .row .col-4 {
  display: flex;
  flex-direction: column;
}
.form .row .col-4 label {
  padding: 15px 0 5px 0;
  font-weight: bold;
}
.form .row .col-4 h1 {
  padding: 10px 0;
}
.form .row .col-4 .feature {
  display: flex;
  flex-direction: column;
}
.form .row .col-4 .additional {
  display: flex;
  flex-direction: column;
}
.form button {
  margin-top: 20px;
  padding: 20px 80px;
  background-color: #008bf8;
  color: #fff;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */