#basket {
  .basket {
    padding: 50px 0;
    .row{
      display: flex;
      .thanks{
        font-size: 48px;
        color: $color-brown;
        padding: 0 0 50px 0;
        letter-spacing: 5px;
      }
      .product-cards {
        .col-12 {
          margin: 10px 0;
          @include flexbox();         
          border: 1px solid $color-gray;
          border-radius: 15px;
          padding: 10px 25px;
          box-shadow: 0px 0px 10px $color-gray;
          .product-about {
            @include flexbox(flex-start,center);
            max-width: 500px;
            img {
              width: 100px;
              height: 100px;
            }
            .product-text{
              h1{
                font-size: 20px;
                font-weight: bold;
                color: $color-brown ;
              }
              p{
                color: #444;
                padding: 10px 0; 
              }
            }
          }
          .value{
            @include flexbox(flex-start,center);
            gap: 30px;
            .number {
              .input-number {
                text-align: center;
                border: 1px solid #ccc;
              }
            }
            a{
              color: $color-brown;
            }
          }
        }
      }
      .card {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-color: $color-gray;
        box-shadow: 0px 0px 10px $color-gray;
        h1 {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        span {
          font-weight: bold;
        }
        .confrim-card {
          position: relative;
          padding: 17px 35px;
          outline: none;
          @include flexbox(center,center);
          text-transform: uppercase;
          background-color: $color-bisque;
          border: 1px solid $color-bisque;
          border-radius: 10px;
          font-weight: 400;
          overflow: hidden;
          transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
          span {
            color: $color-light;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
          }
          &:hover {
            animation: rotate624 0.7s ease-in-out both;
          }
        }
      }
      
    }
    @media only screen and (max-width:991px){
      padding: 40px 0;
     .row{
      .thanks{
        font-size: 36px;
      }
      .product-cards{
        .col-12{
          flex-direction: column;          
        }
      }
      .card{        
        padding: 50px 20px;
        gap: 20px;
        h1{
          font-size: 20px;
        }
        .confrim-card{
          padding: 5px 10px;
        }
      }
     }
    }
    @media only screen and (max-width:767px){
      padding: 30px 0;
     .row{
      .thanks{
        font-size: 30px;
        padding: 0 0 30px 0;

      }  
      .card{
        margin-top: 10px;
        padding: 20px;
      }
     }
    }
    @media only screen and (max-width:575px){
      padding: 20px 0;
     .row{
      .thanks{
        font-size: 24px;
        padding: 0 0 25px 0;
      }  
      .card{
        margin-top: 5px;
        padding: 20px;
      }
     }
    }
    
  }
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
