#menu {
  background-image: url("../../../../photo/background/new-new-h1-bacground-img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .menu {
    padding: 50px 0;
    .our-menu {
      text-align: center;
      font-size: 48px;
      padding: 20px 0;
      color: #5d4335;
    }
    .menu-row {
      .col-12 {
        padding: 30px;
        max-width: 90%;
        display: flex;
        position: relative;
        .coffee-image {
          img {
            max-width: 70px;
            height: 70px;
            border: 1px solid transparent;
            border-radius: 50%;
          }
        }
        .coffee-text {
          width: 100%;
          padding: 0 5px;
          .coffee-name {
            display: flex;
            h1 {
              font-size: 28px;
            }
            .line {
              flex-grow: 1;
              border-bottom: 3px dotted #dadada;
            }
            .price {
              color: #5d4335;
            }
          }
          .description {
            padding: 10px 0;
            span {
              font-weight: bold;
              color: #5d4335;
            }
          }
        }
        .nutrition {
          padding: 30px;
          position: absolute;
          top: 0;
          left: 50%;
          z-index: 1;
          max-width: 300px;
          h1 {
            text-transform: uppercase;
          }
          ul {
            padding: 10px 0;
            li {
              list-style: disc inside;
              padding: 2px 0;
              span {
                font-weight: bold;
              }
            }
          }
          display: none;
          @media only screen and (max-width: 991px) {
            padding: 10px 15px;
          }
        }
        &:hover {
          .nutrition {
            display: block;
          }
        }
      }
    }
    @media only screen and (max-width: 991px) {
      padding: 40px 0;
      .our-menu {
        font-size: 36px;
        padding: 15px 0;
      }
      .menu-row {
        .col-12 {
          padding: 20px;
          max-width: 100%;
          .coffee-image {
            img {
              max-width: 65px;
              height: 65px;
            }
          }
          .coffee-text {
            .coffee-name {
              h1 {
                font-size: 26px;
              }
            }
            .description {
              padding: 15px 0;            }
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      padding: 20px 0;
      .our-menu {
        font-size: 30px;
        padding: 10px 0;
      }
      .menu-row {
        .col-12 {
          padding: 15px;
          max-width: 100%;
          .coffee-image {
            img {
              max-width: 60px;
              height: 60px;
            }
          }
          .coffee-text {
            .coffee-name {
              h1 {
                font-size: 24px;
              }
            }
            .description {
              padding: 10px 0;            }
          }
        }
      }
    }
    @media only screen and (max-width: 575px) {
      padding: 10px 0;
      .our-menu {
        font-size: 24px;
        padding: 5px 0;
      }
      .menu-row {
        .col-12 {
          padding: 10px;
          .coffee-image {
            img {
              max-width: 50px;
              height: 50px;
            }
          }
          .coffee-text {
            .coffee-name {
              h1 {
                font-size: 22px;
              }
            }
            .description {
              padding: 5px 0;            }
          }
        }
      }
    }
  }
}
