#not-found {
  height: 100vh;
  .not-found {
    .text-404 {
      position: absolute;
      top: 20%;
      h1 {
        font-size: 100px;
      }
      p {
        font-size: 24px;
        padding: 50px 0;
        letter-spacing: 10px;
      }
      button {
        padding: 0.1em 0.25em;
        width: 13em;
        height: 4.2em;
        background-color: #212121;
        border: 0.08em solid $color-light;
        border-radius: 0.3em;
        font-size: 12px;
        span {
          position: relative;
          @include flexbox(center,center);
          bottom: 0.4em;
          width: 8.25em;
          height: 2.5em;
          background-color: #212121;
          border-radius: 0.2em;
          font-size: 1.5em;
          color: $color-light;
          border: 0.08em solid $color-light;
          box-shadow: 0 0.4em 0.1em 0.019em $color-light;
          &:hover {
            transition: all 0.5s;
            transform: translate(0, 0.4em);
            box-shadow: 0 0 0 0 $color-light;
          }
          &:not(hover) {
            transition: all 1s;
          }
        }
      }
    }
    img {
      max-width: 100%;
      height: auto;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    @media only screen and (max-width: 991px) {
      .text-404 {
        top: 20%;
        h1 {
          font-size: 80px;
        }
        p {
          font-size: 22px;
          padding: 25px 0;
          letter-spacing: 5px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .text-404 {
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        h1 {
          font-size: 72px;
        }
        p {
          font-size: 20px;
          padding: 15px 0;
          letter-spacing: 5px;
        }      
      }
    }
  }
}
