#page-heading {
  background-image: url("../../../../photo/background/h1-bacground-img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  .page-heading {
    h1 {
      font-size: 48px;
      color: white;
      text-align: center;
    }
  }
}
#products {
  .products {
    padding: 50px 0;
    .col-9 {
      .sorting {
        display: flex;
        justify-content: space-between;
        select {
          border: none;
        }
      }
      .product-cards {
        padding: 50px 0;
        .col-12 {
          padding: 10px;
          .card {
            padding: 10px;
            position: relative;
            .card-image {
              position: relative;
              border: none;
              .add {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid #c29e7b;
                background-color: #c29e7b;
                color: white;
                font-size: 20px;
                padding: 10px;
                width: fit-content;
                display: none;
              }
            }
            .card-text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;
            }

            .favorite {
              position: absolute;
              top: 20px;
              right: 20px;
              color: #5d4335;
              font-size: 20px;
            }
            &:hover img{
              opacity: 0.4;
            }
            &:hover .add {
              display: block;
            }
          }
        }
      }
    }
    .col-3 {
      .search {
        .ms-n5 {
          margin-left: -40px;
        }
      }
      .categories {
        padding: 50px 0;
        h1 {
          padding: 10px 0;
          font-size: 20px;
        }
        ul {
          li {
            padding: 5px 0;
            a {
              color: #888d9c;
            }
          }
        }
      }
      .tags {
        h1 {
          padding: 10px 0;
          font-size: 20px;
        }
        p {
          line-height: 24px;
          a {
            color: #888d9c;
          }
        }
      }
    }
  }
}
