#page-heading {
  background-image: url("../../../../photo/background/h1-bacground-img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  .page-heading {
    h1 {
      font-size: 48px;
      color: white;
      text-align: center;
    }
  }
}
