#products {
  .products {
    padding: 50px 0;
    .col-9 {
      .sorting {
        @include flexbox();
        .sort {
          .dropdown-menu {
            background-color: white;
          }
        }
      }
      .product-cards {
        padding: 50px 0;
        @extend %card;
      }
      .load-more {
        margin-top: 20px;
        width: 160px;
        line-height: 40px;
        font-size: 17px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0;
        background: transparent;
        position: relative;
        z-index: 2;
        color: #fff;
        perspective: 300px;
        transform-style: preserve-3d;
        &:hover {
          color: #5d4335;
          &::after {
            transform: rotateX(-180deg);
          }
        }
        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #5d4335;
          z-index: -1;
          transform-origin: center bottom;
          transform: rotateX(0);
          transition: all 0.3s ease;
        }
      }
    }
    .col-3 {
      & > * {
        padding: 20px 0;
      }
      .range {
        .range-slider {
          position: relative;
          height: 10px;
          width: 100%;
          border-radius: 15px;
          border: 1px solid #5d4335;
          .progress {
            position: absolute;
            left: 0%;
            right: 75%;
            height: 100%;
            border-radius: 15px;
            background-color: #5d4335;
          }
          input[type="range"] {
            position: absolute;
            width: 100%;
            height: 10px;
            appearance: none;
            pointer-events: none;
            background: none;
            outline: none;
            &.range-min::-webkit-slider-thumb {
              pointer-events: auto;
              -webkit-appearance: none;
              width: 15px;
              height: 15px;
              background: #5d4335 0% 0% no-repeat padding-box;
              border-radius: 50%;
              opacity: 1;
              cursor: pointer;
            }
            &.range-max::-webkit-slider-thumb {
              pointer-events: auto;
              -webkit-appearance: none;
              width: 15px;
              height: 15px;
              background: #5d4335 0% 0% no-repeat padding-box;
              border-radius: 50%;
              opacity: 1;
              cursor: pointer;
            }
          }
        }
        .min-max {
          padding: 5px;
          @include flexbox();
          .numberVal {
            input {
              color: #5d4335;
              border: none;
              background-color: transparent;
            }
          }
        }
      }
      .search-div {
        padding-top: 0;
        .ms-n5 {
          margin-left: -40px;
        }
      }
      .categories {
        h1 {
          padding: 10px 0;
          font-size: 20px;
        }
        ul {
          li {
            padding: 5px 0;
            a {
              color: #888d9c;
            }
          }
        }
      }
      .tags {
        h1 {
          padding: 10px 0;
          font-size: 20px;
        }
        p {
          line-height: 24px;
          a {
            color: #888d9c;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .col-3 {
        .range {
          display: none;
        }
        .categories {
          h1 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
        .tags {
          h1 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
