.dropdown {
  .dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    &:after {
      display: none;
    }
    @extend %hover;
  }
  .dropdown-menu {
    background-color: #0000005a;
    & > li > a {
      font-size: 15px;
      align-items: center;
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      display: flex;
      outline: 0;
      border: 0;
      padding: 10px 5px;
      &:before {
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 1px;
        margin-right: 10px;
        transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 0;
      }
      &:hover {
        background-color: transparent;
        &::before {
          background-color: #fff;
          width: 1rem;
        }
      }
    }
  }
}
